doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, user-scalable=no")
    title Bristle Lab
    link(rel='shortcut icon' href='/assets/favicon.png')
    link(type='text/css' rel='stylesheet' href=cssPath)
    script(type='text/javascript ' src=jsPath defer)
  body