@import "nib"
@import "rupture"

global-reset()

body
  font-family "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

*
  box-sizing border-box

a
  cursor pointer

.global-centered
  width 100%
  +above('m')
    max-width 840px
    margin 0 auto

.root
  padding 20px 0